*{
	font-family: 'Open Sans', sans-serif;
	color: white;
}

body{
	margin: 0;
}

header{
	padding: 15px 5px 15px 5px;
	background-color: black;
}

a.navbar{
	color: white;
	font-style: normal;
	text-decoration: initial;
	margin: 1px 5px 1px 5px;
}

.section{
	position: relative;
}

.section:after{
	clear: both;
}

.title{
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: 0;
	text-align: center;
	color: white;
}

.enderecoCol{
	float: left;
	height: 100%;
	width: calc(100% / 3);
}

#home{
	background-color: green;
	height: 800px;
}

#lugar{
	background-color: blue;
	height: 800px;
}

#drinks{
	background-color: yellow;
	height: 800px;
}

#endereco{
	background-color: black;
	height: 400px;
}
