div, p{
	border: 2px solid black;
	display: inline-block;
}

div{
	/*Os tipos de posicionamento possíveis para um elemento são:
	static: Posicionamento default. O elemento é posicionado no "fluxo
		normal" do HTML. Geralmente não é utilizado
	relative: indica "relativo a si mesmo". Deve ser combinado com o
		parâmetro top, left, bottom ou right (nunca conflitando), de
		modo que o elemento será deslocado "a partir daquela direção".
		Por exemplo, usar "bottom: 20px" indica que o elemento será
		deslocado 20px a partir da parte inferior, ou seja, irá
		deslocá-lo para cima.
	absolute: indica exatamente onde posicionar o elemento. Essa
		posição será relativa ao próximo elemento pai com posicionamento
		relativo (ou absoluto). Se não houver nenhum elemento pai para
		o que for posicionado como absoluto, o posicionamento ficará
		em relação à própria página (a base do HTML).
	fixed: é utilizado mais raramente. Define a posição do elemento
		relativa ao "viewport", ou seja, a janela do navegador. Por
		isso, o elemento permanecerá na posição independente de
		movimentos de scroll na página.*/
	position: relative;
	width: 150px;
	height: 200px;
	/*top: 20px;*/
	/*left: 50px;*/
}

p{
	position: absolute;
	/* Quando a posição do elemento é do tipo "absolute", é possível
	utilizar direções opostas como "top" e "bottom". Isso faz com que
	o elemento seja redimensionado para obedecer às posições escolhidas.*/
	top: 5px;
	bottom: 4px;
	/* Definir uma posição absoluta "left" para 5px faz com que a div do
	HTML deste exemplo fique por cima do elemento span.*/
	left: 5px;
	margin: 2px 0 2px 0;
	background-color: red;
}

span{
	position: relative;
	background-color: green;
	/*Como a posição deste elemento está definida como "relative",
	o seu z-index pode ser modificado. Isso permite que essa propriedade
	para que o elemento span fique por cima da div no HTML deste exemplo.*/
	z-index: 2;
}
