/* Uma possibilidade para o uso de fontes é declarar fontes que já estejam
 * instaladas no computador onde a página será exibida. Uma sequência de
 * famílias de fontes pode ser utilizada para que o navegador tente utilizar
 * a primeira que encontrar instalada no computador.
 * Observe também que fontes com espaço no nome devem ter o nome entre aspas. */
p{
	font-family: Verdana, "Times New Roman", Tahoma, Arial;
	
	/* Aqui, utiliza-se o font-style criado com a regra @font-face. */	
	/* font-family: MinhaFonte; */

	/* Além disso, pode-se utilizar a API de fontes do Google, que oferece diversas
	 * fontes instaladas em seu servidor. Neste exemplo, utilizarei a fonte Roboto.
	 * Para conectar à API do Google, um link é colocado no código HTML. */
	/* font-family: Roboto, sans-serif; */

	font-style: italic; /* Estilo da fonte: italic, normal ou oblique. */
	/* font-variant: small-caps; /* Variante da fonte, como o Small Caps já
	conhecido do LaTeX. */
	font-weight: 400; /* Define o peso da fonte, variando de 100 (Thin) até
	900 (Black). Fornecer "bold" ou "bolder" em vez de um número utiliza um
	valor entre 400 e 600 que varia de acordo com a fonte. */

	/* font-size determina o tamanho da fonte. Os seguintes valores-padrão
	 * podem ser utilizados:
	 * xx-small
	 * x-small
	 * small
	 * medium
	 * large
	 * x-large
	 * xx-large
	 *
	 * Da mesma forma, podem ser utilizadas diretamente unidades de medida
	 * como mm, cm, m, as unidades tipográficas pt, pc, em, ex, e px (pixel).
	 * Outra unidade é o rem ("root em"), que utiliza o valor do elemento raiz. */
	font-size: x-large;

	/* font-stretch define o grau de expansão ou condensação da fonte. Pode
	 * assumir os seguintes valores:
	 * ultra-condensed
	 * extra-condensed
	 * condensed
	 * semi-condensed
	 * normal
	 * semi-expanded
	 * expanded
	 * extra-expanded
	 * ultra-expanded
	 *
	 * Alguns destes valores podem não ter efeito de acordo com a fonte utilizada,
	 * se essa fonte não possuir tais níveis de expansão. */
	font-stretch: extra-condensed;

	/* color define a cor do texto. */
	color: blue;

	/* text-indent é a indentação do primeiro parágrafo do texto. */
	text-indent: 40px;

	/* text-align indica a justificação do texto: left, right, center ou justify. */
	text-align: justify;

	/* text-decoration permite decorar o texto com opções como underline, overline,
	 * ou line-through (que corresponde ao texto riscado). */
	text-decoration: overline;

	/* text-transform transforma os caracteres do texto, com as opções:
	 * capitalize: Primeira Letra De Cada Palavra Maiúscula
	 * uppercase: TODAS AS LETRAS MAIÚSCULAS
	 * lowercase: todas as letras minúsculas
	 * none: sem qualquer transformação */
	text-transform: capitalize;

	/* text-shadow permite adicionar sombra à fonte (parece um WordArt).
	 * Para utilizar a sombra de fonte deve-se passar os parâmetros:
	 * Posição horizontal
	 * Posição vertical
	 * Nível de ofuscação
	 * Cor da sombra 
	 *
	 * O TreinaWeb recomenda tomar cuidado com o uso dessa propriedade,
	 * que pode deixar o carregamento da página lento, especialmente em
	 * dispositivos móveis. */
	text-shadow: 1px 1px 1px #0000FF;

	/* letter-spacing configura o espaço que é dado entre cada caractere
	 * do texto. Aumentar o espaçamento facilita a leitura e é bom para
	 * dar destaque a títulos, por exemplo. */
	letter-spacing: 3px;

	/* word-spacing tem efeito semelhante a letter-spacing, mas entre as
	 * palavras do texto. */
	word-spacing: 5px;

	/* line-height define a altura relativa da linha. Podem ser utilizadas
	 * medidas relativas, como percentagem, ou medidas absolutas como pixels.*/
	line-height: 200%;

}

div{
	width: 200px;
	border: solid 1px #CECECE;

	/* A propriedade white-space dita como serão tratados espaços em branco
	 * e quebras de linha. As seguintes opções estão disponíveis:
	 * normal: Espaços e tabulações em branco são ignorados pelo browser;
	 * pre: Espaços e tabulações em branco são preservados pelo browser e
	 * 	não há quebra de linha. Novas linhas são preservadas;
	 * pre-wrap: Espaços e tabulações em branco são preservados pelo browser
	 * 	e há quebra de linha. Novas linhas são preservadas.
	 * nowrap: O texto é apresentado em uma única linha na tela. Não há quebra
	 * 	de linha até ser encontrada uma tag <br/>. Novas linhas não são
	 * 	preservadas e não há quebra de linha.
	 * pre-line: Sequências de quebras de linha são preservadas. */
	white-space: normal; 
}

/* Outra possibilidade é empregar a regra @font-face que permite definir uma
 * fonte que esteja armazenada no servidor da página. Como mostrado abaixo,
 * uma URL para o arquivo da fonte é especificada (que neste caso está na mesma
 * pasta do arquivo HTML), e um nome para a família de fontes é fornecido. */
@font-face{
	font-family: MinhaFonte;
	src: url("AMAZR___.ttf");
}
